.tableInput {
  width: 50px;
  text-align: center;
}

.tableScroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: 15px auto;
  overflow: auto;
  background: white;
}

.tableScroll table {
  margin: 15px auto;
  width: fit-content;
  border-spacing: 0px;
  table-layout: fixed;
  box-shadow: 0 0 10px #717171;
  color: white;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.tableScroll table {
  margin: 15px auto;
  width: fit-content;
  border-spacing: 0px 10px;
  table-layout: fixed;
  box-shadow: 0 0 10px #717171;
}

.tableWrap {
  position: relative;
}

.tableScroll th,
.tableScroll td {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 5px;
  text-align: center;
  width: 125px;
  height: 50px;
  margin-bottom: 10px;
}

.tableScroll th {
  background: rgb(185, 181, 219);
}

.tableScroll th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 500px) {
  .tableScroll {
    width: 100%;
  }
  .tableScroll th,
  .tableScroll td {
    padding: 2px;
    width: 100px;
  }
}
