.CalculatorForm {
  width: fit-content;
  margin: 30px auto;
  /* margin-top: 30px; */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #717171;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.CalculatorForm > * {
  margin: 10px 0px;
}


.buttonBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.checkboxBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.label {
  flex-direction: row;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.checkbox {
  margin: 5px;
}

@media screen and (max-width: 450px) {
  .checkboxBlock {
    grid-template-columns: repeat(1, max-content);
  }
}
