.resultBlock {
  display: grid;
  gap: 10px;
  grid-template-columns: 90px 275px;
  grid-template-areas:
    "mark score" 
    "mark scoreWithCoeff"
    "resultInterpretetion resultInterpretetion";
  width: 375px;
  height: fit-content;
  margin: 15px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #717171;
  background: rgb(170, 98, 141);
  background: -moz-linear-gradient(
    135deg,
    rgba(170, 98, 141, 1) 25%,
    rgba(113, 97, 168, 1) 75%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(170, 98, 141, 1) 25%,
    rgba(113, 97, 168, 1) 75%
  );
  background: linear-gradient(
    135deg,
    rgba(170, 98, 141, 1) 25%,
    rgba(113, 97, 168, 1) 75%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa628d",endColorstr="#7161a8",GradientType=1);
}

.mark {
  grid-area: mark;
  color: white;
  padding: 20px 5px;
  margin: auto;
  background: rgba(206, 168, 188, 0.85);
  width: max-content;
  border-radius: 5px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.score,
.scoreWithCoeff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.score {
  grid-area: score;
}

.scoreWithCoeff {
  grid-area: scoreWithCoeff;
}

.header {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.resultInterpretetion {
  color: white;
  grid-area: resultInterpretetion;
}

@media screen and (max-width: 450px) {
  .resultBlock {
    width: 290px;
    padding: 15px 10px;
    grid-template-columns: 100%;
    grid-template-areas:
      "mark"
      "score"
      "scoreWithCoeff"
      "resultInterpretetion";
  }
}
